
# User-specific config file
config.yaml

# Python binary files
*/__pycache__
*.pyc

# macOS special files
.DS_Store
.AppleDouble
.LSOverride
._*

/alembic/versions
/.idea
*.db
*.log
alembic.ini
sagiri_bot/handler/handlers/github_watcher/watcher_data.json
sagiri_bot/handler/handlers/github_watcher/watcher_data.json
