alembic
bs4
graia-ariadne==0.5.3-pre1
graia-broadcast
graia-saya
graiax-silkcoder
graia-scheduler
imageio
jieba
matplotlib
moviepy
wordcloud
pillow
qrcode
sqlalchemy
aiosqlite
pyyaml
loguru
pydantic
aiohttp
beautifulsoup4
numpy
python-dateutil
pydantic
youtube-dl